.offcanvas{
    width: 560px !important;
}

.bgcolorset{
    background-color: #39aebc;
}

.bgcolor{
    background: #f2fbf9 !important;
    border: 1px solid #f2fbf9 !important;
}

.bottomset{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 30px;
    background-color: #f6f6f6;
}
.borderset{
    border: 2px solid #7fb1df;
}
.form-control{
    border: 1px solid #111213 !important;
    border-radius:0 !important;
}

.form-select{
    border: 1px solid #111213 !important;
    border-radius:0 !important;   
}

.newbtnabsolute{
    position: absolute;
    z-index: 1500;
    opacity: 1;
    padding: 20px 50px 20px 50px;
}


.colorseting{
    background-color: #39aebc !important;
    border: 1px solid #39aebc !important;
    color: white;
}

.backcolorset{
    color: #39aebc !important;
    text-underline-offset: 8px;
}
.colorfindset{
    color: red !important;
    background-color: white !important;
}

.overflowscroll{
    height: 550px;
    overflow-y: scroll;
}